@model NonProfitCRM.Models.Volunteers

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<!--Volunteers Edit Page-->

<h2>Edit</h2>

<h4>Volunteers</h4>
<hr />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <v class="card-body">
                <form enctype="multipart/form-data" asp-controller="Volunteers" asp-action="Edit">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="Name">Name</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" name="Name" id="Name" asp-for="Name" required="required" placeholder="Type your name here" onkeyup="disablestarkey()">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-phone-input" class="col-sm-4 col-form-label text-right">Phone Number<span class="mandatory" style="color:Red;font-size:20px"></span></label>
                                <div class="col-sm-3">
                                    @*<label for="example-phone-input" class="col-sm-4 col-form-label text-right" asp-for="PhoneCode">Phone Number<span class="mandatory" style="color:Red;font-size:20px">*</span></label>*@

                                    @Html.DropDownList("PhoneCodeCountry", (SelectList)ViewBag.PhoneCode, "Select", new { @class = "form-control", required = true, id = "PhoneCodeCountry" })
                                    <input type="hidden" asp-for="PhoneCode">

                                </div>

                                <div class="col-sm-5">

                                    <input class="form-control" type="tel" name="PhoneNumber" id="PhoneNumber" asp-for="PhoneNumber" required="required" placeholder="Enter you Phone Number here">
                                    <span asp-validation-for="PhoneNumber" id="PhoneNumber" class="text-danger"></span>
                                    @*<span asp-validation-for="PhoneNumber" class="text-danger"></span>*@
                                </div>
                            </div>

                            @*<div class="form-group row">
            <label for="example-phone-input" class="col-sm-4 col-form-label text-right" asp-for="PhoneCode">Phone Number</label>
            <div class="col-sm-3">


                @Html.DropDownList("PhoneCode", (SelectList)ViewBag.PhoneCode, "Select", new { @class = "form-control", required = true, id = "PhoneCodeCountry" })
                <input type="hidden" asp-for="PhoneCode">
            </div>

            <div class="col-sm-5" 11>
                <input class="form-control" type="text" id="PhoneNumber" asp-for="PhoneNumber" required>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>*@
                            <div class="form-group row">

                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="Gender">Gender</label>

                                <div class="col-sm-6" id="Gender">

                                    <input asp-for="Gender" type="radio" value="Male" />  Male
                                    <input asp-for="Gender" type="radio" value="Female" /> Female
                                    <input asp-for="Gender" type="radio" value="Others" /> Others
                                    <span asp-validation-for="Gender" id="radioGender" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-age-input" class="col-sm-4 col-form-label text-right" asp-for="Age">Age<span class="mandatory" style="color:Red;font-size:20px"></span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="Age" asp-for="Age" required="required" placeholder="Enter your Age here">
                                    <span asp-validation-for="Age" class="text-danger"></span>
                                </div>
                            </div>
                            @*<div class="form-group row">
            <label for="example-age-input" class="col-sm-4 col-form-label text-right" asp-for="Age">Age</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="startDate" asp-for="Age" required>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>*@

                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-4 col-form-label text-right" asp-for="Email">Email</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="email" id="example-date-input" asp-for="Email" required>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="InstagramProfile">Instagram Profile</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-prepend text-danger">
                                            <picture type="picture" class="btn btn-primary"><i class="fab fa-instagram"></i></picture>
                                        </span>
                                        <input class="form-control" type="text" id="instagram" asp-for="InstagramProfile">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="FacebookProfile">Facebook Profile</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <picture type="picture" class="btn btn-primary"><i class="fab fa-facebook"></i></picture>
                                        </span>
                                        <input class="form-control" type="text" id="face" asp-for="FacebookProfile">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="TwitterProfile">Twitter Profile</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <picture type="picture" class="btn btn-primary"><i class="fab fa-twitter"></i></picture>
                                        </span>
                                        <input class="form-control" type="text" id="twitter" asp-for="TwitterProfile">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">



                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="AddressLine1">Address Line 1</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" asp-for="AddressLine1">
                                    <span asp-validation-for="AddressLine1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="AddressLine2">Address Line 2</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" asp-for="AddressLine2">
                                    <span asp-validation-for="AddressLine2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="AddressStreet">Street</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" asp-for="AddressStreet">
                                    <span asp-validation-for="AddressStreet" class="text-danger"></span>
                                </div>
                            </div>

                            @*<div class="form-group row">
            <label class="col-sm-4 col-form-label text-right" asp-for="AddressCountry">Country</label>
            <div class="col-sm-8">
                <select class="custom-select" asp-for="AddressCountry" required>
                    <option selected="">Select</option>
                    <option value="India">India</option>
                    <option value="USA">USA</option>
                    <option value="USA">UAE</option>
                </select>
                <span asp-validation-for="AddressCountry" class="text-danger"></span>
            </div>
        </div>*@
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="AddressCity">City<span class="mandatory" style="color:Red;font-size:20px"></span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" name="AddressCity" asp-for="AddressCity" required="required" placeholder="Enter your City here" onkeyup="disablestarkey()">
                                    <span asp-validation-for="AddressCity" class="text-danger"></span>
                                </div>
                            </div>

                            @*<div class="form-group row">
                        <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="AddressState">State <span class="mandatory"></span> </label>
                        <div class="col-sm-8">
                            @*<select class="custom-select" id="StateAddress" asp-for="AddressState" asp-items="ViewBag.AddressState">
            <option>Select</option>
        </select>
                            @Html.DropDownList("AddressState", (SelectList)ViewBag.AddressState, "Select", new { @class = "form-control", required = true, id = "CountryId" })
                            <span asp-validation-for="AddressState" class="text-danger"></span>
                        </div>
                    </div>*@

                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="AddressState">State <span class="mandatory" style="color:red;font-size:20px">*</span> </label>
                                <div class="col-sm-8">
                                    @*<select class="custom-select" id="StateAddress" asp-for="AddressState" required="required" placeholder="Enter your State here">
                    <option>Select</option>
                </select>*@
                                    @Html.DropDownList("AddressState", (SelectList)ViewBag.AddressState, "Select", new { @class = "form-control", required = true, id = "CountryId" })

                                    <span asp-validation-for="AddressState" class="text-danger"></span>
                                </div>
                            </div>

                            @*<div class="form-group row">
            <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="AddressState">State <span class="mandatory" style="color:red;font-size:20px">*</span> </label>
            <div class="col-sm-8">
                <select class="custom-select" id="StateAddress" asp-for="AddressState" required="required" placeholder="Enter your State here">
                    <option>Select</option>

                </select>
                <span asp-validation-for="AddressState" class="text-danger"></span>
            </div>
        </div>*@

                            @*<div class="form-group row">
            <label class="col-sm-4 col-form-label text-right" asp-for="AddressCountry">Country <span class="mandate" style="color:red;font-size:20px"></span> </label>
            <div class="col-sm-8">
                @Html.DropDownList("AddressCountry", (SelectList)ViewBag.AddressCountry, "Select", new { @class = "form-control", required = true, id = "CountryId" })


                <span asp-validation-for="AddressCountry" id="Country" class="text-danger"> </span>
            </div>
        </div>*@

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right" asp-for="AddressCountry">Country <span class="mandate" style="color:red;font-size:20px">*</span> </label>
                                <div class="col-sm-8">
                                    @Html.DropDownList("AddressCountry", (SelectList)ViewBag.AddressCountry, "Select", new { @class = "form-control", required = true, id = "CountryId" })


                                    <span asp-validation-for="AddressCountry" id="Country" class="text-danger"> </span>
                                </div>
                            </div>


                            @*<div class="form-group row">
            <label class="col-sm-4 col-form-label text-right" asp-for="AddressCountry">Country  </label>
            <div class="col-sm-8">
                @Html.DropDownList("AddressCountry", (SelectList)ViewBag.AddressCountry, "Select", new { @class = "form-control", required = true, id = "CountryId" })


                <span asp-validation-for="AddressCountry" id="Country" class="text-danger"> </span>
            </div>
        </div>*@
                            @*<div class="form-group row">
                    <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="AddressState">State <span class="mandatory"></span> </label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="StateAddress" asp-for="AddressState" asp-items="ViewBag.AddressState">
        <option>Select</option>
                       </select>
                        @Html.DropDownList("AddressState", (SelectList)ViewBag.AddressState, "Select", new { @class = "form-control", required = true, id = "CountryId" })
                        <span asp-validation-for="AddressState" class="text-danger"></span>
                    </div>
                </div>*@


                            @*<div class="form-group row">
            <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="AddressCity">City</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" asp-for="AddressCity">
                <span asp-validation-for="AddressCity" class="text-danger"></span>
            </div>
        </div>*@


                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="AddressZipcode">Zip code</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" asp-for="AddressZipcode" required>
                                    <span asp-validation-for="AddressZipcode" class="text-danger"></span>
                                </div>
                            </div>
                            @*<div class="form-group row">
            <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="ImageFile">Upload Photo</label>
            <div class="col-sm-8">
                <input multiple type="file" class="form-control" asp-for="ImageFile" accept="image/*" onchange="preview_image(event)" required>
                <img id="output_image" />
            </div>
        </div>*@
                                                     
                                <div class="form-group row">
                                    <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="ImageFile">Upload Photo</label>
                                    <div class="col-sm-8">
                                        @*<img src="@Html.DisplayFor(modelItem => item.ImagePath)" alt="" class="thumb-sm rounded-circle mr-2">*@
                                        <input multiple type="file" class="form-control" name="ImageFile" accept="image/*" onchange="preview_image(event)">
                                        <img src="@Model.ImagePath" id="output_image" />
                                        @*<img src="C:\\Users\\sai\\Pictures\\Jellyfish.jpg" />*@

                                    </div>
                                </div>
                            
                                <div class="form-group row">
                                    <div class="col-sm-12 text-right">
                                        <input type="submit" value="Save" class="col-sm-3 btn btn-primary" />

                                    </div>
                                </div>
                            </div>
                   </div>

                </form>
        </div><!--end card-body-->
    </div><!--end card-->
</div><!--end col-->
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('output_image');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
