@model IEnumerable<NonProfitCRM.Models.Volunteers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<!--Volunteers Index Page-->

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Volunteer</a></li>
                    <li class="breadcrumb-item active">View All</li>
                </ol>
            </div>
     
          
               
                    <input type="text" placeholder="Search.." class="form-control" style="box-sizing:border-box">
                    <a href=""><i class="fas fa-search"></i></a>
                
           
            <h4 class="page-title">Volunteers</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

@*<li class="hide-phone app-search">
    <form role="search" class="">
        <input type="text" placeholder="Search..." class="form-control">
        <a href=""><i class="fas fa-search"></i></a>
    </form>
</li>*@
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a asp-action="Create" class="btn btn-primary px-4 btn-rounded float-right mt-0 mb-3">+ Add New</a>
                <h4 class="header-title mt-0">Volunteers Details</h4>
                <div class="table-responsive dash-social">
                    <table id="datatable" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Age</th>
                                <th>Address</th>
                                <th>Gender</th>
                                <th>Social</th>
                                <th>Action</th>
                                @*<th>Address2</th>
                                <th>Street</th>
                                <th>City</th>*@
                                @*<th>State</th>
                                <th>Country</th>
                                <th>ZipCode</th>*@

                            </tr><!--end tr-->
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @*<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <img src="../assets/images/users/user-10.jpg" class="thumb-sm rounded-circle mr-2"><a asp-action="Details" asp-route-Id=@item.Id>*@
                                    <img src="@Html.DisplayFor(modelItem => item.ImagePath)" alt="" class="thumb-sm rounded-circle mr-2">
                                    <a asp-action="Details" class="Name" asp-route-Id=@item.Id style="text-transform: capitalize;">@Html.DisplayFor(modelItem => item.Name)</a>
     
                                </td>
                                @*<td> @Html.DisplayFor(modelItem => item.Name)</td>*@
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            
                                @*<td>@Html.DisplayFor(modelItem =>item.PhoneCode)</td>*@
                                @*<td>
             @{ var phonenumber = item.PhoneCode + " " + item.PhoneNumber;}
           <span class="elipse">
               @phonenumber
           </span>
        </td>*@
                                <td>@Html.DisplayFor(modelItem => item.Age)</td>
                                @*<td>@Html.DisplayFor(modelItem => item.AddressLine1)</td>*@
                                <td>
                                    @{ var address = item.AddressLine1 + " " + item.AddressLine2 + " " + item.AddressStreet + " " + item.AddressCity + " " + item.AddressState + " " + item.AddressCountry + " " + item.AddressZipcode; }
                                    <span class="elipse">
                                        @address
                                    </span>
                                    </td>
                                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                               
                                @*@Html.DisplayFor(modelItem => item.AddressLine1)<br>
            @Html.DisplayFor(modelItem => item.AddressLine2)<br>
            @Html.DisplayFor(modelItem => item.AddressStreet)<br>
            @Html.DisplayFor(modelItem => item.AddressCity)<br>
        <td>@Html.DisplayFor(modelItem => item.AddressState)</td>
        <td>@Html.DisplayFor(modelItem => item.AddressCountry)</td>*@
                                @*<td>@Html.DisplayFor(modelItem => item.AddressZipcode)</td>*@
                               
                                <td>
                                    @if (!string.IsNullOrWhiteSpace(item.FacebookProfile))
                                    {
                                        <a href="//@item.FacebookProfile" target="_blank"><i class="w3-large fab fa-facebook"></i></a>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.TwitterProfile))
                                    {
                                        <a href="//@item.TwitterProfile" target="_blank"><i style="color:deepskyblue" class="w3-large fab fa-twitter-square"></i></a>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(item.InstagramProfile))
                                    {
                                        <a href="//@item.InstagramProfile" target="_blank"><i class="w3-large fab fa-instagram "></i></a>
                                    }

                                </td>
                                       
                                <td>
                                    <a asp-controller="Volunteers" asp-action="Edit" asp-route-Id=@item.Id class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                    <a asp-controller="Volunteers" asp-action="Delete" asp-route-Id="@item.Id"><i class="fas fa-trash-alt text-danger font-16" onclick="return confirm('Are you sure to delete the record')"></i></a>
                                </td>

                            </tr><!--end tr-->
                            }
                        </tbody>
                    </table>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
